<a href="https://colab.research.google.com/github/YaninaK/sales-forecast/blob/main/notebooks/04_Transformer_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sales forecast for 20 stores for 31 days' period.

## Transformer model

[EDA: omissions, clustering & Fourier transformations](
https://colab.research.google.com/drive/1udCgyEt7lusSY43lnduVDEnZvdvVEt9h?usp=sharing)

[Feature extraction](https://colab.research.google.com/drive/1H-vQoHnycp62YuZD1xrmIDjufpDu7ig3?usp=sharing)

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!git clone -q https://github.com/YaninaK/sales-forecast.git
!pip install -r sales-forecast/requirements_Colab.txt -q

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 358.2/358.2 KB 27.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.2/98.2 KB 13.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 136.2/136.2 KB 17.4 MB/s eta 0:00:00

In [3]:
%cd sales-forecast

/content/sales-forecast

In [4]:
import sys
import os

sys.path.append(os.getcwd())
sys.path.append(os.path.join(os.getcwd(), "src", "sales_forecast"))

In [5]:
import random
import pandas as pd
import numpy as np
import tensorflow as tf
import joblib

from data.make_dataset import load_data
from src.sales_forecast.models import train

from data.johnson_su_transformation import JohnsonSU
from data.train_test_datasets import get_train_dataset, get_test_dataset
from models.model_TF import get_model_TF

In [6]:
import warnings
warnings.filterwarnings('ignore')

In [7]:
PATH = '/content/drive/MyDrive/ML_projects/01_Time_series/sales_forecast/'
DEFAULT_RANDOM_SEED = 3

In [8]:
def set_all_seeds(seed=DEFAULT_RANDOM_SEED):
  random.seed(seed)
  os.environ['PYTHONHASHSEED'] = str(seed)
  np.random.seed(seed)
  tf.random.set_seed(seed)
  
set_all_seeds()

## 1. Data ingestion

In [9]:
data = load_data(PATH)

print(f'data.shape = {data.shape}\n')
data.head(2)

data.shape = (8230, 3)

   id          dt  target
0   0  2016-01-02   747.8
1   0  2016-01-03   681.2

## 2. Data preprocessing pipeline

In [10]:
regenerate = True
if regenerate:
  X = train.data_preprocessing_pipeline(data)
else:
  X = np.load('data/04_feature/train_dataset.npy')

X.shape

Number of outliers = 8

(153, 20, 40)

## 3. Transformer model

### 3.1 Train dataset

In [11]:
X_train, y_train = get_train_dataset(X)
X_train.shape, y_train.shape

((900, 54, 40), (900, 27, 40))

### 3.2 Training of the model

In [12]:
model = get_model_TF(X_train.shape[1:])
model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_1 (InputLayer)           [(None, 54, 40)]     0           []

 layer_normalization (LayerNorm  (None, 54, 40)      80          ['input_1[0][0]']
 alization)

 transformer_block (Transformer  (None, 54, 40)      52432       ['layer_normalization[0][0]']
 Block)

 tf.math.multiply (TFOpLambda)  (None, 54, 40)       0           ['transformer_block[0][0]']

 tf.math.multiply_1 (TFOpLambda  (None, 54, 40)      0           ['layer_normalization[0][0]']
 )

 tf.__operators__.add (TFOpLamb  (None, 54, 40)      0           ['tf.math.multiply[0][0]',
 da)                                                              'tf.math.multiply_1[0][0]']

 transformer_block_1 (Transform  (None, 54, 40)      52432       ['tf.__operators__.add[0][0]']
 erBlock)

 tf.math.multiply_2 (TFOpLambda  (None, 54, 40)      0           ['transformer_block_1[0][0]']
 )

 tf.math.multiply_3 (TFOpLambda  (None, 54, 40)      0           ['tf.__operators__.add[0][0]']
 )

 tf.__operators__.add_1 (TFOpLa  (None, 54, 40)      0           ['tf.math.multiply_2[0][0]',
 mbda)                                                            'tf.math.multiply_3[0][0]']

 transformer_block_2 (Transform  (None, 54, 40)      52432       ['tf.__operators__.add_1[0][0]']
 erBlock)

 tf.math.multiply_4 (TFOpLambda  (None, 54, 40)      0           ['transformer_block_2[0][0]']
 )

 tf.math.multiply_5 (TFOpLambda  (None, 54, 40)      0           ['tf.__operators__.add_1[0][0]']
 )

 tf.__operators__.add_2 (TFOpLa  (None, 54, 40)      0           ['tf.math.multiply_4[0][0]',
 mbda)                                                            'tf.math.multiply_5[0][0]']

 transformer_block_3 (Transform  (None, 54, 40)      52432       ['tf.__operators__.add_2[0][0]']
 erBlock)

 tf.math.multiply_6 (TFOpLambda  (None, 54, 40)      0           ['transformer_block_3[0][0]']
 )

 tf.math.multiply_7 (TFOpLambda  (None, 54, 40)      0           ['tf.__operators__.add_2[0][0]']
 )

 tf.__operators__.add_3 (TFOpLa  (None, 54, 40)      0           ['tf.math.multiply_6[0][0]',
 mbda)                                                            'tf.math.multiply_7[0][0]']

 transformer_block_4 (Transform  (None, 54, 40)      52432       ['tf.__operators__.add_3[0][0]']
 erBlock)

 tf.math.multiply_8 (TFOpLambda  (None, 54, 40)      0           ['transformer_block_4[0][0]']
 )

 tf.math.multiply_9 (TFOpLambda  (None, 54, 40)      0           ['tf.__operators__.add_3[0][0]']
 )

 tf.__operators__.add_4 (TFOpLa  (None, 54, 40)      0           ['tf.math.multiply_8[0][0]',
 mbda)                                                            'tf.math.multiply_9[0][0]']

 transformer_block_5 (Transform  (None, 54, 40)      52432       ['tf.__operators__.add_4[0][0]']
 erBlock)

 tf.math.multiply_10 (TFOpLambd  (None, 54, 40)      0           ['transformer_block_5[0][0]']
 a)

 tf.math.multiply_11 (TFOpLambd  (None, 54, 40)      0           ['tf.__operators__.add_4[0][0]']
 a)

 tf.__operators__.add_5 (TFOpLa  (None, 54, 40)      0           ['tf.math.multiply_10[0][0]',
 mbda)                                                            'tf.math.multiply_11[0][0]']

 reshape (Reshape)              (None, 27, 80)       0           ['tf.__operators__.add_5[0][0]']

 time_distributed (TimeDistribu  (None, 27, 40)      3240        ['reshape[0][0]']
 ted)

==================================================================================================
Total params: 317,912
Trainable params: 316,952
Non-trainable params: 960
__________________________________________________________________________________________________

In [13]:
n_shops = 20
n_epochs = 40
batch_size = n_shops * 2
m = n_shops * 4

reduce_lr = tf.keras.callbacks.LearningRateScheduler(
    lambda epoch: 3e-2 * 0.95 ** epoch
)
model.compile(
    optimizer=tf.keras.optimizers.Adam(),
    loss=tf.keras.losses.Huber()
)
history = model.fit(
    X_train[:-m, :, :], y_train[:-m, :, :], 
    epochs=n_epochs,
    validation_data=(X_train[-m:, :, :], y_train[-m:, :, :]),
    batch_size=batch_size, 
    verbose=1,
    callbacks=[reduce_lr],
    shuffle=True,
    workers=-1,
    use_multiprocessing=True
)

Epoch 1/40
21/21 [==============================] - 28s 73ms/step - loss: 0.4356 - val_loss: 52.1566 - lr: 0.0300
Epoch 2/40
21/21 [==============================] - 1s 31ms/step - loss: 0.3781 - val_loss: 1.2020 - lr: 0.0285
Epoch 3/40
21/21 [==============================] - 1s 30ms/step - loss: 0.3688 - val_loss: 0.9518 - lr: 0.0271
Epoch 4/40
21/21 [==============================] - 1s 29ms/step - loss: 0.3602 - val_loss: 0.7140 - lr: 0.0257
Epoch 5/40
21/21 [==============================] - 1s 30ms/step - loss: 0.3497 - val_loss: 0.6378 - lr: 0.0244
Epoch 6/40
21/21 [==============================] - 1s 30ms/step - loss: 0.3402 - val_loss: 0.5886 - lr: 0.0232
Epoch 7/40
21/21 [==============================] - 1s 29ms/step - loss: 0.3309 - val_loss: 0.5416 - lr: 0.0221
Epoch 8/40
21/21 [==============================] - 1s 38ms/step - loss: 0.3223 - val_loss: 0.5448 - lr: 0.0210
Epoch 9/40
21/21 [==============================] - 1s 42ms/step - loss: 0.3129 - val_loss: 0.4634 - lr: 0.0199
Epoch 10/40
21/21 [==============================] - 1s 43ms/step - loss: 0.3058 - val_loss: 0.4827 - lr: 0.0189
Epoch 11/40
21/21 [==============================] - 1s 43ms/step - loss: 0.2965 - val_loss: 0.3892 - lr: 0.0180
Epoch 12/40
21/21 [==============================] - 1s 36ms/step - loss: 0.2928 - val_loss: 0.3809 - lr: 0.0171
Epoch 13/40
21/21 [==============================] - 1s 31ms/step - loss: 0.2854 - val_loss: 0.3608 - lr: 0.0162
Epoch 14/40
21/21 [==============================] - 1s 29ms/step - loss: 0.2801 - val_loss: 0.3231 - lr: 0.0154
Epoch 15/40
21/21 [==============================] - 1s 30ms/step - loss: 0.2756 - val_loss: 0.3379 - lr: 0.0146
Epoch 16/40
21/21 [==============================] - 1s 30ms/step - loss: 0.2738 - val_loss: 0.3062 - lr: 0.0139
Epoch 17/40
21/21 [==============================] - 1s 30ms/step - loss: 0.2689 - val_loss: 0.3088 - lr: 0.0132
Epoch 18/40
21/21 [==============================] - 1s 29ms/step - loss: 0.2685 - val_loss: 0.2972 - lr: 0.0125
Epoch 19/40
21/21 [==============================] - 1s 28ms/step - loss: 0.2618 - val_loss: 0.2803 - lr: 0.0119
Epoch 20/40
21/21 [==============================] - 1s 28ms/step - loss: 0.2590 - val_loss: 0.2725 - lr: 0.0113
Epoch 21/40
21/21 [==============================] - 1s 27ms/step - loss: 0.2566 - val_loss: 0.2761 - lr: 0.0108
Epoch 22/40
21/21 [==============================] - 1s 28ms/step - loss: 0.2545 - val_loss: 0.2630 - lr: 0.0102
Epoch 23/40
21/21 [==============================] - 1s 39ms/step - loss: 0.2479 - val_loss: 0.2600 - lr: 0.0097
Epoch 24/40
21/21 [==============================] - 1s 41ms/step - loss: 0.2458 - val_loss: 0.2563 - lr: 0.0092
Epoch 25/40
21/21 [==============================] - 1s 41ms/step - loss: 0.2428 - val_loss: 0.2550 - lr: 0.0088
Epoch 26/40
21/21 [==============================] - 1s 29ms/step - loss: 0.2420 - val_loss: 0.2518 - lr: 0.0083
Epoch 27/40
21/21 [==============================] - 1s 38ms/step - loss: 0.2379 - val_loss: 0.2472 - lr: 0.0079
Epoch 28/40
21/21 [==============================] - 1s 42ms/step - loss: 0.2371 - val_loss: 0.2410 - lr: 0.0075
Epoch 29/40
21/21 [==============================] - 1s 42ms/step - loss: 0.2344 - val_loss: 0.2373 - lr: 0.0071
Epoch 30/40
21/21 [==============================] - 1s 41ms/step - loss: 0.2370 - val_loss: 0.2316 - lr: 0.0068
Epoch 31/40
21/21 [==============================] - 1s 37ms/step - loss: 0.2269 - val_loss: 0.2253 - lr: 0.0064
Epoch 32/40
21/21 [==============================] - 1s 29ms/step - loss: 0.2255 - val_loss: 0.2332 - lr: 0.0061
Epoch 33/40
21/21 [==============================] - 1s 29ms/step - loss: 0.2229 - val_loss: 0.2208 - lr: 0.0058
Epoch 34/40
21/21 [==============================] - 1s 29ms/step - loss: 0.2226 - val_loss: 0.2275 - lr: 0.0055
Epoch 35/40
21/21 [==============================] - 1s 29ms/step - loss: 0.2232 - val_loss: 0.2129 - lr: 0.0052
Epoch 36/40
21/21 [==============================] - 1s 29ms/step - loss: 0.2153 - val_loss: 0.2123 - lr: 0.0050
Epoch 37/40
21/21 [==============================] - 1s 29ms/step - loss: 0.2167 - val_loss: 0.2113 - lr: 0.0047
Epoch 38/40
21/21 [==============================] - 1s 30ms/step - loss: 0.2156 - val_loss: 0.2152 - lr: 0.0045
Epoch 39/40
21/21 [==============================] - 1s 31ms/step - loss: 0.2149 - val_loss: 0.2070 - lr: 0.0043
Epoch 40/40
21/21 [==============================] - 1s 29ms/step - loss: 0.2096 - val_loss: 0.2042 - lr: 0.0041

### 3.3 Inference

In [14]:
X_test, y_test = get_test_dataset(X)

In [15]:
pred = model.predict(X_test)
pred.shape

1/1 [==============================] - 1s 1s/step

(20, 27, 40)

### 3.4 Model evaluation

#### Mean absolute scaled error (MASE) 
https://en.wikipedia.org/wiki/Mean_absolute_scaled_error

The denominator of mean absolute scaled error is the mean absolute error of the one-step "seasonal naive forecast method" on the training set, which uses the actual value from the prior 30 days as the forecast: 
* F(t) = Y(t−30)

MASE is scale-free error metric. So, it can be applied to scaled data without extra iteration of inverse scaling.

In [16]:
pred.shape, y_test.shape

((20, 27, 40), (20, 27, 40))

In [17]:
forecast_error = abs(pred[:, :, 0] - y_test[:, :, 0]).mean()
mase = forecast_error / abs(y_test[:, :, 6]).mean()

print(f'Mean absolute scaled error = {round(mase.mean(), 4)}')

Mean absolute scaled error = 0.9206

__Findings:__

* Out of 72 samples available for training (153 less input and output sequence length) 4 were used for validation of the model and 27 for testing. So, we had only 41 samples for training of the model and it is definately not sufficient.

* To get more accurate predictions, we need to retrain the model on the full set of data. It should improve the final results.

## 4. Final prediction

### 4.1. Dataset

In [18]:
X_train, y_train = get_train_dataset(X, final=True)
X_test = get_test_dataset(X, final=True)

X_train.shape, y_train.shape, X_test.shape

((1440, 54, 40), (1440, 27, 40), (20, 54, 40))

### 4.2. Retraining the model on full dataset

In [19]:
n_shops = 20
n_epochs = 50
batch_size = n_shops * 2
m = n_shops * 4

model = model = get_model_TF(X_train.shape[1:])
reduce_lr = tf.keras.callbacks.LearningRateScheduler(
    lambda epoch: 3e-2 * 0.95 ** epoch
)
model.compile(
    optimizer=tf.keras.optimizers.Adam(), 
    loss=tf.keras.losses.Huber()
)
history = model.fit(
    X_train[:-m, :, :], y_train[:-m, :, :], 
    epochs=n_epochs,
    validation_data=(X_train[-m:, :, :], y_train[-m:, :, :]),
    batch_size=batch_size, 
    verbose=1,
    callbacks=[reduce_lr],
    shuffle=True,
    workers=-1,
    use_multiprocessing=True,    
)

Epoch 1/50
34/34 [==============================] - 21s 45ms/step - loss: 0.3871 - val_loss: 4.1456 - lr: 0.0300
Epoch 2/50
34/34 [==============================] - 1s 18ms/step - loss: 0.3430 - val_loss: 0.6324 - lr: 0.0285
Epoch 3/50
34/34 [==============================] - 1s 19ms/step - loss: 0.3357 - val_loss: 0.4000 - lr: 0.0271
Epoch 4/50
34/34 [==============================] - 1s 20ms/step - loss: 0.3314 - val_loss: 0.3770 - lr: 0.0257
Epoch 5/50
34/34 [==============================] - 1s 19ms/step - loss: 0.3245 - val_loss: 0.3503 - lr: 0.0244
Epoch 6/50
34/34 [==============================] - 1s 19ms/step - loss: 0.3131 - val_loss: 0.3946 - lr: 0.0232
Epoch 7/50
34/34 [==============================] - 1s 20ms/step - loss: 0.3057 - val_loss: 0.3616 - lr: 0.0221
Epoch 8/50
34/34 [==============================] - 1s 29ms/step - loss: 0.3012 - val_loss: 0.4132 - lr: 0.0210
Epoch 9/50
34/34 [==============================] - 1s 28ms/step - loss: 0.2942 - val_loss: 0.3065 - lr: 0.0199
Epoch 10/50
34/34 [==============================] - 1s 28ms/step - loss: 0.2875 - val_loss: 0.2910 - lr: 0.0189
Epoch 11/50
34/34 [==============================] - 1s 25ms/step - loss: 0.2821 - val_loss: 0.2822 - lr: 0.0180
Epoch 12/50
34/34 [==============================] - 1s 19ms/step - loss: 0.2773 - val_loss: 0.2774 - lr: 0.0171
Epoch 13/50
34/34 [==============================] - 1s 19ms/step - loss: 0.2724 - val_loss: 0.2646 - lr: 0.0162
Epoch 14/50
34/34 [==============================] - 1s 19ms/step - loss: 0.2670 - val_loss: 0.2584 - lr: 0.0154
Epoch 15/50
34/34 [==============================] - 1s 19ms/step - loss: 0.2626 - val_loss: 0.2577 - lr: 0.0146
Epoch 16/50
34/34 [==============================] - 1s 19ms/step - loss: 0.2588 - val_loss: 0.2507 - lr: 0.0139
Epoch 17/50
34/34 [==============================] - 1s 19ms/step - loss: 0.2560 - val_loss: 0.2518 - lr: 0.0132
Epoch 18/50
34/34 [==============================] - 1s 19ms/step - loss: 0.2529 - val_loss: 0.2422 - lr: 0.0125
Epoch 19/50
34/34 [==============================] - 1s 19ms/step - loss: 0.2505 - val_loss: 0.2412 - lr: 0.0119
Epoch 20/50
34/34 [==============================] - 1s 19ms/step - loss: 0.2470 - val_loss: 0.2377 - lr: 0.0113
Epoch 21/50
34/34 [==============================] - 1s 19ms/step - loss: 0.2456 - val_loss: 0.2379 - lr: 0.0108
Epoch 22/50
34/34 [==============================] - 1s 19ms/step - loss: 0.2426 - val_loss: 0.2319 - lr: 0.0102
Epoch 23/50
34/34 [==============================] - 1s 20ms/step - loss: 0.2391 - val_loss: 0.2265 - lr: 0.0097
Epoch 24/50
34/34 [==============================] - 1s 19ms/step - loss: 0.2364 - val_loss: 0.2237 - lr: 0.0092
Epoch 25/50
34/34 [==============================] - 1s 19ms/step - loss: 0.2339 - val_loss: 0.2325 - lr: 0.0088
Epoch 26/50
34/34 [==============================] - 1s 22ms/step - loss: 0.2309 - val_loss: 0.2215 - lr: 0.0083
Epoch 27/50
34/34 [==============================] - 1s 29ms/step - loss: 0.2279 - val_loss: 0.2269 - lr: 0.0079
Epoch 28/50
34/34 [==============================] - 1s 29ms/step - loss: 0.2260 - val_loss: 0.2219 - lr: 0.0075
Epoch 29/50
34/34 [==============================] - 1s 29ms/step - loss: 0.2245 - val_loss: 0.2198 - lr: 0.0071
Epoch 30/50
34/34 [==============================] - 1s 22ms/step - loss: 0.2234 - val_loss: 0.2163 - lr: 0.0068
Epoch 31/50
34/34 [==============================] - 1s 20ms/step - loss: 0.2204 - val_loss: 0.2089 - lr: 0.0064
Epoch 32/50
34/34 [==============================] - 1s 21ms/step - loss: 0.2189 - val_loss: 0.2124 - lr: 0.0061
Epoch 33/50
34/34 [==============================] - 1s 20ms/step - loss: 0.2182 - val_loss: 0.2109 - lr: 0.0058
Epoch 34/50
34/34 [==============================] - 1s 19ms/step - loss: 0.2150 - val_loss: 0.2011 - lr: 0.0055
Epoch 35/50
34/34 [==============================] - 1s 19ms/step - loss: 0.2143 - val_loss: 0.2045 - lr: 0.0052
Epoch 36/50
34/34 [==============================] - 1s 19ms/step - loss: 0.2122 - val_loss: 0.1991 - lr: 0.0050
Epoch 37/50
34/34 [==============================] - 1s 19ms/step - loss: 0.2103 - val_loss: 0.2059 - lr: 0.0047
Epoch 38/50
34/34 [==============================] - 1s 19ms/step - loss: 0.2091 - val_loss: 0.1975 - lr: 0.0045
Epoch 39/50
34/34 [==============================] - 1s 20ms/step - loss: 0.2106 - val_loss: 0.1944 - lr: 0.0043
Epoch 40/50
34/34 [==============================] - 1s 20ms/step - loss: 0.2073 - val_loss: 0.1946 - lr: 0.0041
Epoch 41/50
34/34 [==============================] - 1s 21ms/step - loss: 0.2048 - val_loss: 0.1940 - lr: 0.0039
Epoch 42/50
34/34 [==============================] - 1s 20ms/step - loss: 0.2054 - val_loss: 0.1968 - lr: 0.0037
Epoch 43/50
34/34 [==============================] - 1s 20ms/step - loss: 0.2039 - val_loss: 0.1943 - lr: 0.0035
Epoch 44/50
34/34 [==============================] - 1s 20ms/step - loss: 0.2045 - val_loss: 0.1964 - lr: 0.0033
Epoch 45/50
34/34 [==============================] - 1s 28ms/step - loss: 0.2011 - val_loss: 0.1910 - lr: 0.0031
Epoch 46/50
34/34 [==============================] - 1s 28ms/step - loss: 0.2013 - val_loss: 0.1926 - lr: 0.0030
Epoch 47/50
34/34 [==============================] - 1s 28ms/step - loss: 0.2007 - val_loss: 0.1904 - lr: 0.0028
Epoch 48/50
34/34 [==============================] - 1s 28ms/step - loss: 0.2014 - val_loss: 0.1930 - lr: 0.0027
Epoch 49/50
34/34 [==============================] - 1s 20ms/step - loss: 0.2000 - val_loss: 0.1873 - lr: 0.0026
Epoch 50/50
34/34 [==============================] - 1s 20ms/step - loss: 0.1995 - val_loss: 0.1902 - lr: 0.0024

### 4.3 Model evaluation on validation set

In [20]:
pred = model.predict(X_train[-m:, :, :])
pred[:, :, 0].shape,

3/3 [==============================] - 1s 13ms/step

((80, 27),)

In [21]:
forecast_error = abs(pred[:, :, 0] -  y_train[-m:, :, 0]).mean()
mase = forecast_error / abs( y_train[-m:, :, 6]).mean()

print(f'Mean absolute scaled error = {round(mase.mean(), 4)}')

Mean absolute scaled error = 0.5155

### 4.4. Inference

In [22]:
pred_final = model.predict(X_test)

1/1 [==============================] - 0s 29ms/step

### 4.5. Inverse transformation of predictions

In [23]:
scaler = joblib.load('data/03_primary/scaler_js.joblib')

In [24]:
arr_pred = pred_final[:, :, 0]
y_pred = pd.DataFrame(arr_pred).T
y_pred_rescaled = scaler.inv_transform(y_pred)
y_pred_rescaled.shape

(27, 20)

### 4.6. Generation of the final result

In [25]:
predict_example = pd.read_parquet(PATH + 'data/01_raw/sample_submit.parquet.gzip')
print(f'test.shape = {predict_example.shape}\n')
predict_example.head(2)

test.shape = (540, 3)

   id          dt  target
0   0  2017-07-01     500
1   0  2017-07-02     500

In [26]:
n_shops = 20
for i in range(n_shops):
  predict_example.loc[predict_example['id'] == i, 'target'] = y_pred_rescaled.loc[:, i]

predict_example.to_parquet(
    'data/06_model_output/sales_forecast_tf.parquet.gzip', compression='gzip'
)
predict_example.head()

   id          dt      target
0   0  2017-07-01  685.356857
1   0  2017-07-02  680.697329
2   0  2017-07-03  676.016056
3   0  2017-07-04  686.506050
4   0  2017-07-06  710.401847

## 5. Findings

Transformer model has not outperformed LSTM model. There is not enough data for transformers. The use of transformers could be justified on the longer time sequences.